# Moltbot environment

# Gateway
{{ moltbot_gateway_auth_env }}={{ moltbot_gateway_auth_token | default('') }}

# Telegram
TELEGRAM_BOT_TOKEN={{ moltbot_telegram_bot_token }}

# LLM providers
OPENAI_API_KEY={{ moltbot_llm_openai_api_key | default(moltbot_llm_api_key) }}
ANTHROPIC_API_KEY={{ moltbot_llm_anthropic_api_key | default(moltbot_llm_api_key) }}
MISTRAL_API_KEY={{ moltbot_llm_mistral_api_key | default(moltbot_llm_api_key) }}
GOOGLE_API_KEY={{ moltbot_llm_google_api_key | default(moltbot_llm_api_key) }}
OPENROUTER_API_KEY={{ moltbot_llm_openrouter_api_key | default(moltbot_llm_api_key) }}
OLLAMA_BASE_URL={{ moltbot_llm_ollama_base_url }}
