# Moltbot environment

MOLTBOT_LLM_PROVIDER={{ moltbot_llm_provider }}
MOLTBOT_LLM_API_KEY={{ moltbot_llm_api_key }}
MOLTBOT_LLM_MODEL={{ moltbot_llm_model }}
MOLTBOT_LLM_BASE_URL={{ moltbot_llm_base_url }}
MOLTBOT_LLM_TIMEOUT={{ moltbot_llm_timeout }}

MOLTBOT_ACTIONS_ALLOWLIST={{ moltbot_actions_allowlist | join(',') }}
MOLTBOT_ACTIONS_DENYLIST={{ moltbot_actions_denylist | join(',') }}
MOLTBOT_ACTIONS_TIMEOUT={{ moltbot_actions_timeout }}

MOLTBOT_MEMORY_BACKEND={{ moltbot_memory_backend }}
MOLTBOT_MEMORY_DSN={{ moltbot_memory_dsn }}
MOLTBOT_VECTOR_DB_URL={{ moltbot_vector_db_url }}
MOLTBOT_VECTOR_DB_API_KEY={{ moltbot_vector_db_api_key }}
